firmware/.pio/
firmware/.vscode/

__pycache__/
*.py[cod]
*$py.class

python/controllers/manual_runner.py
python/visualization/sysid_overlay.py

eda/.history
eda/FishCoreBoard_v3_3.kicad_prl
eda/FishCoreBoard_v3_3-backups
